<div class="well">
    <h1>{{title}}</h1>
    <hr>
    <table class="table table-bordered">
    <h3>PERSONAL INFORMATION</h3>
        <tr>
            <td>FIRST NAME:</td>
            <td>{{workers.fname}}</td>
        </tr>
        <tr>
            <td>LAST NAME:</td>
            <td>{{workers.lname}}</td>
        </tr>
        <tr>
            <td>NICKNAME:</td>
            <td>{{workers.nickname}}</td>
        </tr>
        <tr>
            <td>GENDER:</td>
            <td>{{workers.gender}}</td>
        </tr>
        <tr>
            <td>CIVIL STATUS:</td>
            <td>{{workers.cstatus}}</td>
        </tr>
        <tr>
            <td>CELLPHONE:</td>
            <td>{{workers.cellphone}}</td>
        </tr>
        <tr>
            <td>TELEPHONE:</td>
            <td>{{workers.telnumber}}</td>
        </tr>
        <tr>
            <td>BIRTHDAY:</td>
            <td>{{workers.bday}}</td>
        </tr>
        <tr>
            <td>AGE:</td>
            <td>{{workers.age}}</td>
        </tr>
        <tr>
            <td>EMAIL ADDRESS:</td>
            <td>{{workers.emailadd}}</td>
        </tr>
        <tr>
            <td>HOME ADDRESS:</td>
            <td>{{workers.homeaddress}}</td>
        </tr>
        <tr>
            <td>PROFESSION:</td>
            <td>{{workers.profession}}</td>
        </tr>
        <tr>
            <td>COMPANY:</td>
            <td>{{workers.company}}</td>
        </tr>
        <tr>
            <td>TALENT:</td>
            <td>{{workers.talent}}</td>
        </tr>
        <tr>
            <td>MEDICAL:</td>
            <td>{{workers.medical}}</td>
        </tr>
    <!-- <legend>CONTACT PERSON IN CASE OF EMERGENCY</legend>
         <tr>
            <td>LAST NAME:</td>
            <td>{{elname.elname}}</td>
        </tr>  
         <tr>
            <td>FIRST NAME:</td>
            <td>{{elname.efname}}</td>
        </tr>
         <tr>
            <td>RELATIONSHIP:</td>
            <td>{{elname.relationship}}</td>
        </tr>    
         <tr>
            <td>CONTACT:</td>
            <td>{{elname.econtact}}</td>
        </tr>         
    <legend>DISCIPLESHIP GROUP PROFILE</legend>
        <tr>
            <td>I AM A</td>
            <td>workers.type.member</td>
            <td>workers.type.leader</td>
            <td>workers.type.leader</td>
        </tr>
        <tr>
            <td>LAST NAME:</td>
            <td>{{elname.dlname}}</td>
        </tr>   
        <tr>
            <td>FIRST NAME:</td>
            <td>{{elname.dfname}}</td>
        </tr>
        <tr>
            <td>MIDDLE INITIAL:</td>
            <td>{{elname.dminitial}}</td>
        </tr>
        <tr>
            <td>CONTACT NUMBER:</td>
            <td>{{elname.dcontact}}</td>
        </tr>                        -->
    </table>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a class="btn btn-default" href="/list"><i class="fa fa-angle-left"></i> Back</a>
                <button class="btn btn-primary" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">Yes</button>
            </div>
        </div>
    </div>
</div>