<div class="well">
    <h1>{{title}}</h1>
    <hr>
    <table class="table table-bordered">
    <h4>PERSONAL INFORMATION</h4>
        <tr>
            <td>FIRST NAME:</td>
            <td>{{workers.fname}}</td>
        </tr>
        <tr>
            <td>LAST NAME:</td>
            <td>{{workers.lname}}</td>
        </tr>
        <tr>
            <td>NICKNAME:</td>
            <td>{{workers.nickname}}</td>
        </tr>
        <tr>
            <td>GENDER:</td>
            <td>{{workers.gender}}</td>
        </tr>
        <tr>
            <td>CIVIL STATUS:</td>
            <td>{{workers.cstatus}}</td>
        </tr>
        <tr>
            <td>CELLPHONE:</td>
            <td>{{workers.cellphone}}</td>
        </tr>
        <tr>
            <td>TELEPHONE:</td>
            <td>{{workers.telnumber}}</td>
        </tr>
        <tr>
            <td>BIRTHDAY:</td>
            <td>{{workers.bday}}</td>
        </tr>
        <tr>
            <td>AGE:</td>
            <td>{{workers.age}}</td>
        </tr>
        <tr>
            <td>EMAIL ADDRESS:</td>
            <td>{{workers.emailadd}}</td>
        </tr>
        <tr>
            <td>HOME ADDRESS:</td>
            <td>{{workers.homeaddress}}</td>
        </tr>
        <tr>
            <td>PROFESSION:</td>
            <td>{{workers.profession}}</td>
        </tr>
        <tr>
            <td>COMPANY:</td>
            <td>{{workers.company}}</td>
        </tr>
        <tr>
            <td>TALENT:</td>
            <td>{{workers.talent}}</td>
        </tr>
        <tr>
            <td>MEDICAL:</td>
            <td>{{workers.medical}}</td>
        </tr>
        </table>
        <table class="table table-bordered">
        <h4>CONTACT PERSON IN CASE OF EMERGENCY</h4>
           <hr>
         <tr>
            <td>LAST NAME:</td>
            <td>{{workers.elname}}</td>
        </tr>  
         <tr>
            <td>FIRST NAME:</td>
            <td>{{workers.efname}}</td>
        </tr>
         <tr>
            <td>RELATIONSHIP:</td>
            <td>{{workers.relationship}}</td>
        </tr>    
         <tr>
            <td>CONTACT:</td>
            <td>{{workers.econtact}}</td>
        </tr>         
                           
    </table>
    <table class="table table-bordered">
   <h4>DGROUP PROFILE</h4>     
   <hr>
        <tr>
            <td> I AM A </td>
            <td>{{workers.dgroup}}</td>
        </tr>
        <tr>
            <td>LAST NAME:</td>
            <td>{{workers.dlname}}</td>
        </tr>
        <tr>
            <td>FIRST NAME:</td>
            <td>{{workers.dfname}}</td>
        </tr>
        <tr>
            <td>MIDDLE INITIAL:</td>
            <td>{{workers.dminitial}}</td>
        </tr>
        <tr>
            <td>CONTACT NUMBER:</td>
            <td>{{workers.dcontact}}</td>
        </tr> 
        <tr>
            <td>DGROUP TYPE:</td>
            <td>{{workers.dtype}}</td>
        </tr>
        <tr>
            <td>DGROUP DAY:</td>
            <td>{{workers.dschedday}}</td>
        </tr>  
        <tr>
            <td>DGROUP TIME:</td>
            <td>{{workers.dtime}}</td>
        </tr>
        <tr>
            <td>DGROUP VENUE:</td>
            <td>{{workers.dvenue}}</td>
        </tr>
        <tr>
            <td>AREA PASTOR:</td>
            <td>{{workers.apastor}}</td>
        </tr>        
    </table>
    <table class="table table-bordered">
        <h4>DGROUP PROFILE OF HT WORKER AS A DGROUP LEADER</h4>
        <tr>
            <td>HANDLED DGROUP TYPE</td>
            <td>{{workers.dhandletype}}</td>
        </tr>
        <tr>
            <td>DGROUP DAY</td>
            <td>{{workers.dhandleday}}</td>
        </tr>
        <tr>
            <td>DGROUP TIME</td>
            <td>{{workers.dhandletime}}</td>
        </tr>
        <tr>
            <td>DGROUP VENUE</td>
            <td>{{workers.dhandlevenue}}</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td>OTHER MINISTRY:</td>
            <td>{{workers.oministry}}</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <h4>HOST TEAM GROUP PROFILE</h4>
        <tr>
            <td>BACKGROUND IN USHERING PRIOR TO JOINING HOST TEAM MINISTRY (LAST ATTENDED)</td>
            <td>{{workers.pastministry}}</td>
        </tr>
        <tr>
            <td>New Worker Orientation Training Completion Date</td>
            <td>{{workers.trainingdate}}</td>
        </tr>
        <tr>
            <td>DATE of First Ushering Duty Day</td>
            <td>{{workers.firstduty}}</td>
        </tr>
        <tr>
            <td>CLUSTER NAME</td>
            <td>{{workers.clustername}}</td>
        </tr>
        <tr>
            <td>CLUSTER HEAD</td>
            <td>{{workers.clusterhead}}</td>
        </tr>
        <tr>
            <td>SEGMENT</td>
            <td>{{workers.segment}}</td>
        </tr>
        <tr>
            <td>SEGMENT HEAD</td>
            <td>{{workers.segmenthead}}</td>
        </tr>
        <tr>
            <td>SEGMENT LEADER</td>
            <td>{{workers.segmentleader}}</td>
        </tr>
        <tr>
            <td>TIME</td>
            <td>{{workers.time}}</td>
        </tr>
        <tr>
            <td>HT POSITON</td>
            <td>{{workers.htposition}}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a class="btn btn-default" href="/list"><i class="fa fa-angle-left"></i> Back</a>
                <button class="btn btn-primary" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">Yes</button>
            </div>
        </div>
    </div>
</div>